* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Be Vietnam Pro", sans-serif;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
}
header,
.block-1,
.block-2,
.block-3 {
  padding: 0 3rem;
}
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 3rem;
  flex-wrap: wrap;
}
.header ul {
  display: flex;
  list-style: none;
}
.header li {
  padding: 0 1rem;
}
.header a {
  text-decoration: none;
  color: #242e52;
  font-weight: 700;
}
.menu-hamburger {
  display: none;
}
.header a:hover {
  text-decoration: underline;
}
button {
  background-color: #f3603b;
  color: #fff;
  border-radius: 1.4rem;
  border-style: none;
  padding: 0.85rem 2rem;
  font-size: 1rem;
  box-shadow: 5px 7px 11px -4px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
button:hover {
  background-color: #f58c72;
}
.block-1 {
  display: flex;
  justify-content: space-between;
  padding-top: 7rem;
  align-items: center;
}
.block-1 h1 {
  font-size: 3rem;
}
.block-1 p {
  padding: 1.5rem 0;
}
.block-1 div:nth-child(1) {
  padding-right: 3rem;
}
.block-1 div:nth-child(2) {
  padding-left: 3rem;
}
.graphic {
  width: 100%;
}
.block-2 {
  display: flex;
  justify-content: space-between;
  padding-top: 7rem;
}
.block-2 h2 {
  font-size: 2rem;
}
.block-2-left {
  padding-right: 3rem;
  width: 50%;
}
.block-2-left p {
  padding: 1.5rem 0 0;
  width: 70%;
}
.block-2-right {
  padding-left: 3rem;
  width: 50%;
  padding-left: 40px;
}
.block-2-right p {
  color: #b3b2b7;
  padding-bottom: 2.5rem;
}
.block-2-right h4 {
  padding-bottom: 1.5rem;
  font-weight: bold;
}
.block-2-right ol {
  list-style: none;
  counter-reset: count;
}
.block-2-right ol li {
  counter-increment: count;
  position: relative;
}
.block-2-right ol li::before {
  content: "0" counter(count);
  font-weight: bold;
  position: absolute;
  top: -0.5rem;
  left: -5rem;
  background-color: #f3603b;
  color: #fff;
  border-radius: 1.5rem;
  border-style: none;
  padding: 0.5rem 1.5rem;
}
.block-3 {
  padding-top: 4rem;
}
.block-3 li {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.block-3 ul {
  display: flex;
  list-style: none;
  background-color: #f9f9f9;
}
.block-3 h5 {
  padding: 4rem 0 2rem;
}
.block-3 ul p {
  color: #b3b2b7;
  text-align: center;
  padding: 0 1.5rem 1.5rem;
}
#subtitle {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  padding-bottom: 4rem;
  color: #000;
}
.block-3 ul img {
  width: 5rem;
  position: absolute;
  top: -2.5rem;
}
.carousel {
  display: none;
}
.button-middle {
  display: flex;
  justify-content: center;
  padding: 4rem 0 8rem;
}
.block-4 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  background-color: #f3603b;
  padding: 2rem 4rem;
}
.block-4 button {
  background-color: #fff;
  color: #f3603b;
}
.block-4 p {
  font-size: 2.5rem;
  font-weight: bold;
  width: 30rem;
}
footer {
  padding: 5rem 0;
  background: #1e1e26;
  color: #fff;
  display: flex;
  justify-content: space-around;
}
.company {
  display: flex;
  flex-direction: column;
}
.social-icons {
  padding-top: 1.5rem;
  text-align: center;
}
.social-icons a {
  color: #fff;
  text-decoration: none;
}
.info :hover {
  color: #f3603b;
}
.social-icons a:hover {
  color: #f3603b;
}
.page-links {
  display: flex;
}
.page-links a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
}
.page-links a:hover {
  text-decoration: underline;
}
.page-links ul {
  list-style: none;
}
.page-links nav:nth-child(1) {
  padding-right: 7rem;
}
.email-form input {
  border-radius: 1rem;
  padding: 0.8rem;
}
.email-form p {
  font-size: 0.8rem;
  padding-top: 5rem;
}
.block-1 h1,
.block-2 h2,
.subtitle {
  color: #232c51;
}

@keyframes animation {
  0% {
    opacity: 0%;
  }
  25% {
    transform: translateY(-10px);
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}
.animation {
  animation: animation 5s infinite;
}

@media (max-width: 375px) {
  body {
    font-size: 1rem;
    width: 100vw;
  }
  .header nav {
    display: none;
  }
  .btn-getstarted {
    display: none;
  }
  .logo {
    width: 60%;
  }
  .block-1,
  .block-2 {
    flex-direction: column;
    justify-content: inherit;
  }
  .block-1 div:nth-child(1) {
    padding-right: 0;
  }
  .block-1 div:nth-child(2) {
    padding-left: 0;
  }
  .block-1 img {
    padding-top: 2rem;
    width: 100%;
  }
  .block-1 {
    flex-direction: column-reverse;
    text-align: center;
  }
  .menu-hamburger {
    display: flex;
    font-size: 1.3rem;
  }
  header,
  .block-1,
  .block-2,
  .block-3 {
    padding: 0 2.4rem;
  }
  .block-1 h1 {
    font-size: 2.5rem;
  }
  .block-2 {
    padding-top: 5rem;
  }
  .block-2-left {
    padding-right: 0;
    width: 100%;
    text-align: center;
  }
  .block-2-left p {
    padding: 1.5rem 0;
    width: 100%;
  }
  .block-2-right {
    padding-left: 0;
    width: 100%;
    padding-left: 0;
  }

  .block-2-right ol li::before {
    content: "0" counter(count);
    font-weight: bold;
    top: 0rem;
    left: 0rem;
    background-color: #f3603b;
    color: #fff;
    border-radius: 1.5rem;
    border-style: none;
    padding: 0.5rem 1.5rem;
    z-index: 2;
  }
  .block-2-right h4 {
    background-color: #ffefea;
    padding: 0.5rem 0 0.6rem 2rem;
    font-size: 0.9rem;
    width: 85%;
    position: absolute;
    left: 3.4rem;
  }
  .block-2-right p {
    position: relative;
    padding-top: 3.2rem;
  }
  #subtitle {
    font-size: 2rem;
  }
  .block-3 li {
    display: none;
  }
  .block-3 li:nth-child(1) {
    display: flex;
  }
  .carousel {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    color: #f3603b;
    font-size: 1.5rem;
  }
  .button-middle {
    padding: 2rem 0;
  }
  .block-4 {
    flex-direction: column;
    padding: 4rem 2rem;
    text-align: center;
  }
  .block-4 p {
    font-size: 2rem;
    width: initial;
    padding-bottom: 2rem;
  }
  footer {
    padding: 3rem 0;
    flex-direction: column-reverse;
    align-items: center;
  }
  .company div:nth-child(1) {
    display: none;
  }
  .email-form div:nth-child(2) {
    display: none;
  }
  .social-icons {
    padding-top: 0;
    font-size: 2rem;
  }
  .social-icons a {
    padding: 0 0.5rem;
  }
  .page-links {
    padding: 3rem 0;
  }
  .page-links li {
    padding: 0.6rem 0;
  }
}
