
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  width: 100vw;
}
.footer {
  background-color: rgb(169, 128, 196);
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.icono {
  width: 90px;
}
.fondo {
  display: flex;
  justify-content: space-between;
  background-color: #222222;
  padding: 5px 10px;
}
.navegacion {
  display: flex;
  justify-content: space-between;
  background-color: #f0a83e;
  height: 60px;
  align-items: center;
}
.navegacion a {
  color: #fff;
  text-decoration: none;
}
.titulo {
  font-weight: bold;
  font-size: larger;
  padding-left: 25px;
}
.titulo2 {
  font-size: 2.5rem;
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
}
.brown {
  color: #3c2313;
}
.white {
  color: #fff;
}
.centrar {
  text-align: center;
}
.imagen {
  background-image: url("../img/Colorverdemanzana.jpg");
  background-position: center center;
  background-size: cover;
  height: 500px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.contenedor-titulo {
  padding-right: 20px;
}
.imagen span {
  display: inline-block;
  margin-top: 20px;
}
.comederos1 {
  font-weight: bold;
}
.comederos2 {
  background-color: #f0a83e;
  padding: 10px 20px;
}
.fondo-productos {
  display: flex;
  flex-direction: column;
  background-color: #fbfaf6;
  margin: 0;
  padding: 0;
}
.sinpunto {
  display: flex;
  list-style: none;
  justify-content: space-around;
}
.precio {
  color: #f0a83e;
  font-weight: bold;
}
.separador {
  margin-left: 30px;
}

.fondocont {
  background-color: #3c2313;
  color: #fff;
}

.fondo3 {
  background-color: #f0a83e;
  text-align: center;
}

.menu-horizontal {
  display: flex;
}

.menu-horizontal li {
  padding: 0 10px;
}
.menu-horizontal i {
  padding-right: 5px;
}
.tamano-pata {
  padding-top: 20px;
  font-size: 60px;
  color: #f0a83e;
}
.subtitulo {
  font-size: 40px;
}
.name {
  color: #3c2313;
  font-weight: bold;
}

.lista {
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .fondo{
    display: none;
  }
  .titulo2{
    font-size: 1.5rem;
  }
  .sinpunto {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    width: fit-content;
  }
  .contenedor-titulo{
    width: 100vw;
    padding-right:0;
  }
  .menu-horizontal{
    display: none;
  }
  .texto-espacio{
    word-spacing: 1rem;
    padding: 1.5rem 0;
  }
  .separador{
    margin-left: 0;
  }
  .fondo-productos{
    margin-bottom: 2.5rem;
    width: 80vw;
  }
}
