body {
  font-family: "Roboto", sans-serif;
}

.lista {
  display: flex;
  color: white;
}
.lista li {
  padding: 0 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: black;
  height: 100px;
  align-items: center;
  margin-bottom: 30px;
}

.contenedor {
  display: flex;
}
.segundocontenedor {
  padding-left: 20px;
  flex-grow: 2;
}
.segundobloque {
  position: relative;
}
.contenido {
  display: flex;
}
.titulo {
  color: red;
  text-align: center;
}

.espacio {
  padding: 30px 0 0 70px;
}

.footer {
  display: flex;
  color: white;
  background-color: black;
  padding: 0%;
  height: 100px;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.blanco {
  color: white;
}
.roja {
  position: absolute;
  left: 20px;
  color: red;
  font-weight: bold;
  font-size: 20px;
}
