* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: black;
}

.navegacion {
  background-color: #001d2d;
  display: flex;
  justify-content: flex-end;
}

body,
html {
  height: 100vh;
  width: 100vw;
}

.navegacion ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 20px;
}

.navegacion a {
  color: white;
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
}

.dscto {
  background-color: #1cd1b0;
  width: 100%;
  font-size: 15px;
  padding: 10px;
  font-weight: bold;
}
.titulo {
  background-color: #00669f;
  width: 100%;
  font-size: 40px;
  font-weight: bold;
  padding: 28px;
}
.titulo2 {
  background-color: #00669f;
  width: 100%;
  padding: 28px;
  color: #fff;
  display: flex;
  align-items: center;
}
.titulo2 span {
  color: #fff;
  font-size: 1.3rem;
}
.header {
  box-shadow: rgba(0, 0, 0, 0.5) 0px 10px 8px;
}

.main {
  display: flex;
  justify-content: center;
  padding: 100px 0 0;
}

.contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  width: 75%;
}

.contenedor li {
  list-style-type: none;
  margin: 20px;
}
.card {
  background-color: #f3f3f3;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 8px;
  width: 300px;
  border-radius: 13px;
  display: inline-block;
}

.centrar2 {
  margin-top: 80px;
}
.boton {
  padding: 15px 37px;
  background-color: #00669f;
  display: inline-block;
  color: white;
  text-decoration: none;
  margin: 0 auto 30px;
}
.texto {
  padding: 30px 16px;
  text-align: left;
}
.centrar {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 80px;
}
.redondo {
  border-radius: 60px;
  width: 110px;
  height: 119px;
}
.padre {
  position: relative;
}
.mitad {
  position: absolute;
  top: 133px;
  left: 89px;
}
.heart {
  position: absolute;
  top: 10px;
  left: 20px;
  color: #cc2424;
  font-size: 30px;
}

.footer {
  padding: 16px;
  margin-top: 50px;
  text-align: center;
  color: #fff9f9;
  background-color: #00669f;
}

button {
  margin: 20px;
  border-radius: 2rem;
  height: 50px;
  width: 250px;
  flex: 0 0 200px;
  margin-left: 0px;
}

#reset {
  background-color: rgba(136, 136, 136, 1);
  color: white;
}

#submit {
  background-color: rgba(28, 209, 176, 1);
  color: black;
}
.colorenlace {
  text-decoration: none;
  color: blue;
}
.tamano {
  padding: 1rem 0;
}
.formulario {
  width: 55vw;
  margin: auto;
}
.formulario label {
  display: none;
}
.formulario input,
.formulario select {
  width: 100%;
  padding: 1rem;
}
.botones {
  text-align: center;
  margin: 1.5rem 0;
}

textarea {
  width: 100%;
  height: 30vh;
  padding: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: gray;
}

@media (max-width: 700px) {
  .heart {
    top: 10px;
    left: 20px;
    color: #cc2424;
    font-size: 30px;
  }
}
